<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: -939795212.list.tem.html 1516 2009-01-23 10:05:11Z krompi $-->
<form method="get" action="!#ausgaben_form1_aktion" id="eEd">
    <h1>#(ueberschrift)</h1>
    <div class="tabbed" style="">
        <ul style="">
            <!--##loop-tabs-->
            <li style="!{style}">
                <a href="!{link}" class="!{class}" style="">!{label}</a>
            </li>
            <!--##cont-->
        </ul>
    </div>
    <div style="clear:both;border-top:1px solid #666666;"></div>
    <fieldset id="qsearch" class="float" style="padding:0;">
        <label class="small">
            #(search)&nbsp;
            <input type="text" name="search" value="!#ausgaben_search" class="textfield" />
        </label>
        <label class="small">
            #(group)&nbsp;
            <select name="filter0" onchange="submit()">
                <!--##loop-filter0-->
                <option value="!{value}"!{select}>!{label}</option>
                <!--##cont-->
            </select>
        </label>
        <label class="small">
            &nbsp;
            <input type="submit" name="send[]" value="g(send)" />
        </label>
        <label class="small">
            &nbsp;<br />
            <a href="#" onclick="anzeigen('esearch');">#(esearch)</a>
        </label>
    </fieldset>
    <fieldset id="esearch" class="float" style="padding:0;display:none;">
        <div class="clearer"></div>
        <!--##loop-filter_sel-->
        <label class="small">
            <input type="radio" name="filter_sel" value="!{value}"!{check} />!{label}
        </label>
        <!--##cont-->
        <h2>Datei-Arten</h2>
        <div class="clearer"></div>
        <!--##loop-mimes-->
        <label class="small">
            <input type="checkbox" name="mimes[!{label}]" value="!{label}" onclick=""!{checked} />!{label}
        </label>
        <!--##cont-->
        <div class="clearer"></div>
        <label class="small">
            &nbsp;
            <input type="submit" name="send[]" value="g(send)" />
        </label>
    </fieldset>
</form>
<div style="clear:both"></div>
<!--##hide-search_result-->
<p>!#ausgaben_result</p>
<!--##show-->
<p class="toolbox">

    <!--##hide-cms-->
    <span style="display:!{display};" id="cms">
        &nbsp;<a href="!{link}">g(cmslink)</a>
    </span>
    <!--##show-->

    <!--##hide-file-->
    <span style="display:!{display};" id="file">
        <a href="!{edit}">#(fileedit)</a>
        <a href="!{collect}">#(filecollect)</a>
        <a href="!{delete}">#(filedelete)</a>
    </span>
    <!--##show-->

    <b>Ansicht: </b>
    <!--##loop-view-->
    <a href="!{link}" title="!{title}"><img src="!{icon}" alt="!{title}" /></a>
    <!--##cont-->
<!-- </p> -->

<!-- <p> -->
    &nbsp;
</p>
<!--##hide-empty_search-->
#(empty_search)
<!--##show-->

<!--##hide-list_images-->
<div style="clear:both"></div>
<!-- <h2>#(images)</h2> -->
<ul class="fileed">
<!--##show-->
<!--##hide-list_plain-->
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            !{cb}
            <a href="!{ohref}" title="Vorschau Original (original)">O</a>
            <a href="!{bhref}" title="Vorschau Gross (big)">B</a>
            <a href="!{mhref}" title="Vorschau Mittel (middle)">M</a>
            <a href="!{shref}" title="Vorschau Klein (small)" >S</a>
        </p>
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_ajax-->
<!--##loop-list_images-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            <input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} />
            <a rel="lightbox[!{id}]" href="!{ohref_lb}" title="!{title} - Vorschau Original (original)">O</a>
            <a rel="lightbox[!{id}]" href="!{bhref_lb}" title="!{title} - Vorschau Gross (big)">B</a>
            <a rel="lightbox[!{id}]" href="!{mhref_lb}" title="!{title} - Vorschau Mittel (middle)">M</a>
            <a rel="lightbox[!{id}]" href="!{shref_lb}" title="!{title} - Vorschau Klein (small)">S</a>
        </p>
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_images-->
</ul>
<!--##show-->

<!--##hide-list_other-->
<div style="clear:both"></div>
<!-- <h2>#(other)</h2> -->
<ul>
<!--##show-->
<!--##hide-list_plain-->
<!--##loop-list_other-->
    <li style="background:!{color};">
        !{cb}&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            <img src="../../images/default/details.png" alt="g(details)" />
        </a>&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            !{title}
        </a> [ <a title="Herunterladen (download)" href="!{dhref}">D</a> ]
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_ajax-->
<!--##loop-list_other-->
    <li style="background:!{color};">
        <input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} />&nbsp;
        <a title="!{title} bearbeiten" href="!{ehref}">
            !{title}
        </a> [ <a title="Herunterladen (download)" href="!{dhref}">D</a> ]
    </li>
<!--##cont-->
<!--##show-->
<!--##hide-list_other-->
</ul>
<!--##show-->


<!--##hide-list_details_frame-->
<div style="clear:both"></div>
<table cellpadding="5" style="width:100%;">
    <thead>
        <tr style="background:#A9C0CE;">
            <th style="width:5%;"></th>
            <th style="width:5%;">ID</th>
            <th>Datei-Name</th>
            <th style="width:5%;">Typ</th>
            <th style="width:5%;">Vorschau</th>
            <th style="width:5%;"></th>
        </tr>
    </thead>
    <tbody>
<!--##show-->
<!--##hide-list_details_ajax-->
<!--##loop-list_files-->
        <tr style="background:#EFEFEF;">
            <td><input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} /></td>
            <td>!{id}</td>
            <td>!{title}</td>
            <td style="width:5%;">
                <img alt="!{kategorie}" title="!{kategorie}" src="!{icon_src}" style="margin:0;float:left;" />
            </td>
            <td style="white-space:nowrap;">!{aktion}</td>
            <td>
                <a title="!{title} bearbeiten" href="!{ehref}"><img src="../../images/default/edit.png" style="margin:0;float:left;" /></a>
            </td>
        </tr>
<!--##cont-->
<!--##show-->
<!--##hide-list_details_plain-->
<!--##loop-list_files-->
        <tr style="background:#EFEFEF;">
            <td>!{cb}</td>
            <td>!{id}</td>
            <td>!{title}</td>
            <td style="width:5%;">
                <img alt="!{kategorie}" title="!{kategorie}" src="!{icon_src}" style="margin:0;float:left;" />
            </td>
            <td style="white-space:nowrap;">!{aktion}</td>
            <td>
                <a title="!{title} bearbeiten" href="!{ehref}"><img src="../../images/default/edit.png" style="margin:0;float:left;" /></a>
            </td>
        </tr>
<!--##cont-->
<!--##show-->
<!--##hide-list_details_frame-->
    </tbody>
</table>
<!--##show-->

<!--##hide-list_symbols_frame-->
<div style="clear:both"></div>
<ul>
<!--##show-->
<!--##hide-list_symbols_ajax-->
<!--##loop-list_files-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{thumb_src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            <input type="checkbox" name="sel_pics[!{id}]" value="-1" onclick="session_update(!{id});"!{checked} />
            !{aktion}
        </p>
    </li>

<!--##cont-->
<!--##show-->
<!--##hide-list_symbols_plain-->
<!--##loop-list_files-->
    <li class="thumbs">
        <a href="!{ehref}" class="pic"><img src="!{thumb_src}" alt="!{alt}" title="!{title} g(edit)" /></a>
        <p>
            !{cb}
            !{aktion}
        </p>
    </li>

<!--##cont-->
<!--##show-->
<!--##hide-list_symbols_frame-->
</ul>
<!--##show-->

<!--##hide-list_ajax-->
<script type="text/javascript">
    function session_update(fileid) {
        new Ajax.Updater('ajax_output',
                         './list,,' + fileid + '.html?ajax',
                         {asynchronous:true,
                          onFailure:function(){ new Effect.Fade('file')},
                          onSuccess:function(){ new Effect.Appear('file')}
                         }
        );
    }
    function anzeigen(id,trigger) {
        show = document.getElementById(id).style.display;
        if ( show == 'none' ) {
            new Effect.BlindDown(id, {duration: 0.1});
        } else {
            new Effect.BlindUp(id, {duration: 0.1})
        }
        return false;
    }
    function anzeigen(id) {
        if ( typeof(id) == 'string' ) {
            var element = [id];
        } else {
            element = id;
        }
        for (i=0; i<element.length; i++) {
            if ( $(element[i]) ) {
                show = $(element[i]).style.display;
                if ( show == 'none' ) {
                    new Effect.BlindDown(element[i], {duration: 0.3});
                } else {
                    new Effect.BlindUp(element[i], {duration: 0.3})
                }
            }
        }
        return false;
    }
</script>
<!--##show-->

<div style="clear:both"></div>
<p style="float:left">g(anzahl)!#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<div style="clear:both"></div>
<p>#(inhalt)</p>
<p>#(text1)</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>
<div id="ajax_output"></div>
<!--##end-->
</body>
</html>