<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>auth</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: auth.tem.html 1231 2008-02-04 10:40:22Z buffy1860 $-->

<!--##hide-authBox-->
<!-- background:#bbf; width:100px;height:100px; -->
<div id="magic" class="magic1" style="position:absolute;left:5px;top:5px;padding:3px;z-index:1000">
<!--##show-->

<!--##hide-authArea-->
<span id="handle1"><h3>#(ueberschrift)</h3></span>
<p>!{message}</p>
<form method="post" action="!#ausgaben_auth_url">
<!--##show-->

<!--##hide-authLogin-->
    <fieldset>
        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" />
        <input type="text" name="user" style="width:50;font-size:9px" />
        <input type="password" name="pass" style="width:50;font-size:9px" />
        <input type="submit" name="login" value="login" />
    </fieldset>
<!--##show-->

<!--##hide-authLogout-->
    <fieldset>
        <input type="submit" name="logout" value="logout" />
    </fieldset>
<!--##show-->

<!--##loop-authInPlace-->
<a href="!{link}">!{desc}</a><br />
<!--##cont-->
<br />
<!--##hide-authArea-->
</form>
<!--##show-->

<!--##hide-authTools-->
<p>#(desc)<br />
<!--##loop-authTools-->
<a href="!{url}" title="!{title}">!{label}!{end}</a>
<!--##cont-->
</p>
<!--##show-->

<!--##hide-authBox-->
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  new Draggable('magic',{scroll:window,handle:'handle1',});
// ]]>
</script>
<!--##show-->

<!--##end-->
</body>
</html>