<!--##begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="Private Homepage von Franz und Sabina Scherer zu den Themen Kochen, Backen, Friedberg, Augsburg, Beluga, Sabina, Franz, Scherer, VHS, Internet, Design, Webdesign, ewebuki">
	<meta name="author" content="Franz Scherer" />
    <META NAME="revisit-after" CONTENT="5 days">
    <meta name="keywords" content="Friedberg, Augsburg, Beluga, Sabina, Franz, Scherer, Kochen, Backen, VHS, Internet, Design, Webdesign">
    <meta http-equiv="content-type" content="text/html;charset=iso-8859-15" />
	<link rel="stylesheet" href="/css/red/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/red/eed.css" type="text/css" />
    <link rel="stylesheet" href="/css/red/wizard.css" type="text/css" />
    <link rel="stylesheet" href="../../css/default/lightbox.css" type="text/css" />

        <script type="text/javascript" src="../../js/red/prototype.js"></script>
        <script type="text/javascript" src="../../js/red/scriptaculous.js"></script>
        <script type="text/javascript" src="../../js/red/fontsize.js"></script>
        <script type="text/javascript" src="../../js/default/lightbox.js"></script>
        <script type="text/javascript" src="../../js/red/little_helpers.js"></script>
        <script type="text/javascript" src="../../js/red/deflist_toggle.js"></script>
        <script type="text/javascript" src="../../js/red/calendar.js"></script>
        <script type="text/javascript" src="../../js/red/calendar-de.js"></script>
        <script type="text/javascript" src="../../js/red/calendar-setup.js"></script>
        <!--<script type="text/javascript" src="../../js/html/deflist_toggle.js"></script>-->
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">_uacct = "UA-1229824-2";urchinTracker();</script>
    <title>!#specialvars_pagetitle</title>
</head>
<body>

    <div id="page">

        <div id="red_content" style="width:800px;margin: 0 auto">

            <div id="logo" style="background-image:url(/images/red/tie-logo-!#ausgaben_logo.gif);width:274px; height:213px;float:left;"></div>

            <div id="topheader">
                <div align="left" class="bodytext">
                    #(head)
                </div>
                <div id="toplinks" class="smallgraytext">
                    <a href="!#pathvars_menuroot/index.html">Startseite</a> | <a href="!#pathvars_menuroot/sitemap.html">Sitemap</a> | <a href="!#pathvars_menuroot/kontakt.html">Kontakt</a>
                </div>
            </div>

            <div id="menu">
                <div align="right" class="smallwhitetext" style="padding:9px;">
                    !#ausgaben_menu
                </div>
            </div>
 
            #{screen}

 
       </div>

    </div>

</body>

</html>
<!--##end-->
