<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
#(inhalt)

<form action="mailto:info@sabina-scherer.de" method="post" name="form1">
<p class="content">
<input type="checkbox" name="xfiles"/>
cooking x-files
<br/>
<input type="checkbox" name="liebesmenue"/>
menue für verliebte
<br/>
<input type="checkbox" name="beschwipst"/>
das beschwipste menue
<br/>
<input type="checkbox" name="ueberraschung"/>
das überraschungsmenue
<br/>
<input type="checkbox" name="raffiniert"/>
raffiniert und extra leicht
<br/>
</p>
<p align="left">
<input type="submit" value="bestellen" name="submit"/>
<input type="reset" value="verwerfen" name="Abschicken2"/>
</p>
</form>


<!--##end-->

    </body>
</html>
