<html>
<head>
<!--$Id: kontakt-email1.tem.html 1435 2008-08-25 10:20:10Z krompi $-->
<title>kontakt-email1 (mail an betreiber)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
</head>
<body>
<pre>Achtung Plain Text eMail, kein HTML verwenden!
<!--##begin-->
Betreff: !{betreff}
--------
Name:                           !{name}
Strasse:                        !{strasse}
PLZ, Ort:                       !{plz} !{ort}
Telefon:                        !{tel}
eMail Adresse:                  !{e-mail}
zuletzt besuchte Seite:         !{last_viewed}

Mitteilung:
-----------
!{mitteilung}

mfg
bbs-beluga
<!--##end-->
</pre>
</body>
</html>