<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>bloged.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
#(inhalt)

<div>
<!--##loop-list1-->
<h2>!{titel_org}</h2>
<img src="/file/!{image_img_art}/!{image_img_id}/s/test" style="margin-right:10px;float:left"/>
<p style="margin-left:160px">!{teaser_org}</p><p style="margin-left:160px"><a href="!{detaillink}">Beitrag lesen</a></p>
<div class="clearer"></div>
<hr />
<!--##cont-->
</div>
<!--##end-->
</body>
</html>