html {
    height: 100%;
}
body {
    background-position: right center;
    background-repeat: repeat-y;
    color: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    min-height: 100%;
    width: 955px;
    padding: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222222;
}
* html body {
    height: 100%;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 4px;
    border: 0;
}

th,td{
    border: 1px solid #D01A71;
    padding: 2px;
}

fieldset {
    margin: 10px;
    padding: 10px;
}

fieldset label {
    float: left;
    display: block;
    width: 100px;
}
fieldset input {
    margin-bottom: 2px;
    margin-top: 2px;
}

#oben {
    background: url("/images/missunderstood/headergrunge.jpg") repeat-x;
    height: 29px;
}

#buffy {
    width: 945px;
    padding: 0;
    margin: 0 auto;
    background-color: #222222;
    clear: both;
}

/*Logo*/
/***************************/

#logo {
    float: left;
    background: url("/images/missunderstood/logo.png") no-repeat;
    width: 200px;
    height:57px;;
}


/***************************/
/*Logo*/

/*Main Navi*/
/***************************/

#mainnavi {
    float: left;
    font-size: 70%;
}
#mainnavi a {
   margin: 10px;
}
/***************************/
/*Main Navi*/

/*Suche*/
/***************************/

#search {
    float: right;
/*    margin-right: 230px;*/
    margin-top: 10px;
}
#search button {
    margin-left: 10px;
    padding: 0 2px 2px;
}

/***************************/
/*Suche*/

/*Navigation*/
/***************************/
#navlist {
/*    clear: both;*/
    float: left;
    margin-top: 30px;
    margin-left: 9px;
    width: 122px;
}
#navlist ul {
    list-style: none outside none;
    padding-left: 0;
}
#navlist li a {
    background: inherit;
    border-right: 4px solid #444444;
    color: #999999;
    display: block;
    font-size: 0.9em;
    height: 25px;
    margin-top: 5px ;
    margin-bottom: 5px ;
    padding: 9px;
    text-transform: lowercase;
    width: 100px;
}
#navlist li a:hover {
    background: none repeat scroll 0 0 #333333;
    border-right: 4px solid #D01A71;
    color: #F4F4F4;
}
#navlist li.Level1Active a {
    background: none repeat scroll 0 0 #333333;
    border-right: 4px solid #D01A71;
    color: #F4F4F4;
}

#navlist li.Level2 a {
    background: inherit;
    border-right: 0;
    border-left: 4px solid green;
    color: #999999;
}

#navlist li.Level2 a:hover {
    background: none repeat scroll 0 0 #333333;
    border-left: 4px solid #A5F73B;

}

#navlist li.Level2Active a {
    border-right: 0;
    border-left: 4px solid green;
    color: #F4F4F4;
}

/***************************/
/*Navigation*/

/*Maginal*/
/***************************/

#maginal {
/*    border: 1px solid #999999;*/
    float: left;
    height: 100%;
    margin-top: 10px;
    margin-right: 9px;
/*    padding-top: 5px;*/
    width: 160px;
}
#maginal img {
    padding: 0 5px;
}
#maginal h3 {
    margin: 0;
    text-align: center;
}

/***************************/
/*Maginal*/

/*Content*/
/***************************/

#content_wrap {
    float:left;
    width: 601px;
    margin-top: 30px;
    margin:10px;
    padding: 12px;
}

#content_wrap img {
    margin: 10px;
}

#content_wrap a { 
    color:#D01A71;
    font-weight: bold;
}

#content_wrap a:hover {
 color: #fff;
 background: #D01A71;
 font-weight: bold;}

#content_wrap p {line-height: 1.4em; font-size: 0.7em; margin-bottom: 20px; color: #f4f4f4;}
/***************************/
/*Content*/

/*Globale Elemente*/
/***************************/

input {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #555555;
    color: #F4F4F4;
    font-family: Verdana;
    font-size: 0.7em;
    padding: 3px;
}
button {
    background: none repeat scroll 0 0 #222222;
    border: 2px solid #444444;
    color: #F4F4F4;
    font-family: Verdana;
    font-size: 0.7em;
    height: 2em;
    padding: 2px;
}
/***************************/
/*Globale Elemente*/

#foot {
    clear: both;
}

/*Klassen*/
/***************************/
.hidden {
    text-indent: -9000px;
}
.br {
    clear: both;
}
.pink {
    color: #D01A71;
}
.small {
    font-size: x-small;
}
.large {
    font-size: xx-large;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    margin: 0 auto;
    text-align: center;
}
/***************************/
/*Klassen*/


/*Ewebuki - Tags*/
/***************************/
.selection_teaser {
    border: 1px solid #999999;
    margin-right: 10px;
    padding: 10px;
}
.selection_teaser b {
    color: #D01A71;
}

.selection_teaser li a:hover {
    display: block;
}

.selection_teaser li {
    float: left;
    list-style: none outside none;
    margin-right: 5px;
}
.selection_teaser span {
    clear: both;
    display: block;
}
/***************************/
/*Ewebuki - Tags*/

#overlay {
    width: 100% !important;
    height: 100% !important;
}

/*Kontakt-Formular*/
/***************************/




/***************************/
/*Kontakt-Formular*/

/*AUTH-Fenster*/
/***************************/
#magic {
    background: #D01A71;
}
#maginal fieldset {
    padding: 0px;
    border: 0px;   
}

/***************************/
/*AUTH-Fenster*/


#eEd fieldset label {
    clear: both;
    margin: 10px;
   
}

#eEd input, #eEd textarea, #eEd select {
    background: none repeat scroll 0 0 #D01A71;
    border: 1px solid white;
    display: block;
    float: left;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1px;
    width: 250px;
}

/*contentEd*/
/***************************/
#cEd fieldset.ce{
    width: 830px;
    padding: 10px;
}
#cEd fieldset.ce textarea{
    width: 820px;
    height: 410px;
}

/***************************/
/*contentEd*/

/*menuEd*/
/***************************/
ul.menued{
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}

ul.menued li a img{
    margin: 0 !important;
}
/***************************/
/*menuEd*/

/*fileEd*/
/***************************/
ul.fileed{
    list-style: none;
    padding: 0px 10px;
    margin: 0px;
}
.fileed li {
float:left;
margin: 5px;
width: 100px;
}
/***************************/
/*fileEd*/
