/* project: eWeBuKi stylesheet template for eWeBuKi editor (eEd's) styles
   based on a design from: luka cvrk (www.solucija.com)

   $Id: eed.css 1532 2009-02-04 08:11:59Z krompi $ */



/*----------------------
  alien styles
  ----------------------*/

#body, p, form, ul, ol {
#    margin: 0;
#    padding: 0;
#}

ul, ol {
    list-style : none;
}


li {
margin-left:25px;
}

/*a {
    float:left;
}*/

/* ---------------------*/



/*----------------------
  default styles
  ----------------------*/
ins {
    color:green;
}

del {
    color:red;
}


#eEd {
    float: left;
    background: #EFEFEF;
    width: 100%;
    border: 1px dotted #333;
}

#eEd label {
    float: left;
    display: block;
    clear: both;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
}

#eEd input, #eEd textarea, #eEd select {
    float: left;
    display: block;
    width: 250px;
    border: 1px solid #333;
    background:#F4F4F4;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
}

#eEd p {
    float: left;
    clear: both;
    display: block;
    width: 100% !important;
    width: 80%; /*to fix IE6 position*/
    padding-left: 40px;
}

#eEd h2 {
    float: left;
    clear: both;
    display: block;
    padding-left: 40px;
}

#eEd fieldset{
    clear: both;
    border:none;
    margin:10px;
    padding:0;
}

#eEd .icon {
    margin-top: 0px;
/*     display: block; */
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
/*     padding: .5ex 1ex; */
    background-color: #eee;
    text-decoration: none;
    cursor: default;
}

/* ---------------------*/



/*----------------------
  global modifiers
  ----------------------*/

    #eEd .hidden {
        display:none;
    }

    #eEd .first {
        margin-left: 40px !important;
        margin-left: 10px; /*to fix IE6 position*/
        width: 120px;
        clear:both;
    }

    #eEd .next {
        margin-left: 10px !important;
        margin-left: 10px; /*to fix IE6 position*/
        width: 100px;
    }

/* ---------------------*/



/*----------------------
  spezial reset
  ----------------------*/

/*clearing all floats and fix Firefox and IE backgroundcolor-bug */
div.clearer {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    display: block;
    height: 1px;
}

/* ---------------------*/



/*----------------------
  checkbox, radio group
  ----------------------*/

#eEd fieldset.cbra {
/*     border: none; */
    padding-left: 40px;
    padding-bottom: 10px;
    display: block;
    clear: both;
}

#eEd fieldset.cbra label {
    width: auto;
    clear: none;
    float: left;
    display: block;
    padding-right: 2px !important;
    white-space: nowrap; /*to fix ie6 wrapping*/
}

#eEd fieldset.cbra input {
    width: auto;
/*     border: none; */
    background: none;
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 3px !important;
    margin-top: 0px; /*to fix ie6 position*/
    margin-bottom:0px;
}

/* ---------------------*/



/*----------------------
  floating input, 2lines
  ----------------------*/

    #eEd fieldset.float {
        padding-left: 20px;
    }

    #eEd fieldset.float label {
        clear: none;
        float: left;
        margin: 0;
        padding-left: 10px;
        width: 200px;
    }

    #eEd fieldset.float input, #eEd fieldset.float textarea, #eEd fieldset.float select {
        margin-top: 0;
        width: 200px;
    }

    #eEd fieldset.float label.small {
        width: 130px;
    }

    #eEd fieldset.float label.small input, #eEd fieldset.float label.small textarea, #eEd fieldset.float label.small select {
        width: 125px;
    }

/* ---------------------*/

/*----------------------
  reiter-struktur
  ----------------------*/

    #eEd .tabbed {
        height:3em;
        padding-left:9px;
        position:relative;
    }

    #eEd .tabbed ul {
        position:absolute;
        bottom:-1px;
    }

    #eEd .tabbed ul li {
        display:inline;
    }

    #eEd .tabbed ul li a {
        background:#eee;
        border:1px solid #aaa;
        border-bottom-color:#666;
        color:#aaa;
        display:block;
        float:left;
        margin:1px 2px 0pt 1px;
        padding:2px 6px;
        text-decoration:none;
    }

    #eEd .tabbed ul li a.selected {
        background:#efefef;
        border-color:#666666;
        border-style:solid solid none;
        border-width:1px 1px medium;
        color:inherit;
        margin-top:0;
        padding-bottom:4px;
    }

/* ---------------------*/


/*----------------------
  menued special
  ----------------------*/

#eEd ul.menued ul {
    margin: 0pt 0pt 0pt 20pt;
}
#eEd ul.menued a {
    text-decoration:none;
}

#eEd ul.menued li {
    clear:both;
    border-top: 1px solid #ddd;
/*     float:left; */
}
#eEd ul.menued input {
    width: auto;
    height: auto;
    margin-top: 0;
}

#eEd .red {
    color: red;
}

/* ---------------------*/



/*----------------------
  fileed special
  ----------------------*/

li.thumbs {
        border: 1px solid silver;
        float: left;
/*         height: 130px; */
        margin: 5px;
        width: 102px;
        text-align: center;
        padding: 3px;
        -moz-border-radius: 5px;
}

li.thumbs a.pic {
        display: block;
        height: 100px;
        margin: 0 auto;
        width: 96px;
}

/* compilation */
.selection_teaser {
    background:#eee;
    clear:both;
    margin:5px 0;
    padding:0 3px;
}
.selection_teaser div {
    background:#fff;
    float:left;
    width:100%;
}
.selection_teaser li {
    border: 1px solid #eee;
    margin: 2px;
    padding:0;
    -moz-border-radius: 0;
}
.selection_teaser span {
    clear:both;
    display:block;
    font-size:0.9em;
}

.toolbox span {
    float:right;
}
    .toolbox span a {
        background:#EFEFEF;
        border:1px solid #A9C0CE;
        padding:3px;
        text-decoration:none;
        -moz-border-radius:5px;
    }

/* ---------------------*/



/*----------------------
  cmsed special (testing only)
  ----------------------*/


#cEd li.files {
        border: 1px solid silver;
        float: left;
        margin: 5px;
        padding: 3px;
        -moz-border-radius: 5px;
}


#cEd fieldset.ce {
    border: none;
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    clear: both;
}

#cEd .buttag {
    width: auto;
    border: 1px solid #ddd;
    padding: .5ex 1ex;
    background-color: #eee;
    text-decoration: none;
    cursor: default;
}

#cEd .butfil {
    width: 20px;
    height: 20px;
    border: 0;
    padding: .5ex 1ex;
    background-color: #eee;
    text-decoration: none;
    cursor: default;
}

#cEd .butoth {
    float: left;
    height: auto;
    border: 1px solid #ddd;
    border-style: solid;
    margin: 0 0 0 0;
    padding: 0.2ex 0.2ex 0.2ex 0.2ex;
    background-color: #eee;
    text-decoration: none;
/*     font: 0.9em Tahoma, sans-serif; */
/*     cursor: default; */
}

#cEd .ta_norm {
    width: 100%;
    border: 1px solid #ddd;
/*     margin: 0 0 1ex 0; */
/*     padding: .5ex 1ex; */
    background-color: #eee;
    text-decoration: none;
}

#cEd .ta_lock {
    width: 100%;
    border: 1px solid #f00;
    background-color: #FFB2B3;
    text-decoration: none;
}


#cEd a.infobox {
    float: right;
    border-bottom: 1px dashed #c30;
    text-decoration:none;
}

    #cEd a.infobox:hover {
        cursor:help;
        color:#c30;
        background:white;
    }

    #cEd a.infobox span {
        visibility:hidden;
        position:absolute;
        left:-99em;
        margin-top:1.5em;
        max-width:300px;
        padding:1em;
        text-decoration:none;
    }

    #cEd a.infobox:hover span {
        visibility:visible;
        left:38em;
        border:1px solid #c30;
        color:blue; background:white;
    }

/* ---------------------*/
